@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl mb-5 font-bold;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  .btn-primary {
    @apply mt-4 py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  hr {
    @apply border-gray-50 border-solid border-[1px] my-2 text-white;
  }
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#root {
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}
