@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl mb-5 font-bold;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-700;
  }
  .btn-primary-outline {
    @apply py-2 px-4 bg-white text-blue-500 rounded-lg shadow-md border-[1px] border-solid hover:border-blue-500;
  }
  hr {
    @apply border-gray-50 border-solid border-[1px] my-2 text-white;
  }
  .form-input {
    @apply border-[1px] rounded-lg py-2 px-3;
  }
  .form-input.invalid {
    @apply border-red-500;
  }
  .form-input.valid {
    @apply border-green-500;
  }
  .msg-error {
    @apply text-red-500 text-[10px];
  }
  .container-custom {
    @apply p-4 h-full flex align-middle justify-center bg-sky-100;
  }
  td {
    @apply align-baseline;
  }
}

#root {
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}
