@tailwind base;

@layer base {
  h1 {
    @apply text-4xl mb-5 font-bold;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}

@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#root {
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}
